* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
p,
li {
  cursor: default;
}

html,
body {
  font-family: "Nunito";
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.wrap {
  background: linear-gradient(
    180deg,
    #262626 0%,
    #34225d 10%,
    #74088a 40%,
    #34225d 90%
  );
}

.container {
  padding: 2% 8%;
}

[id] {
  scroll-margin-top: 100px;
}

/* =====================HEADER====================== */
/* =====================HEADER====================== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.header__logo {
  margin: 0;
  font-size: 38px;
  font-weight: 800;
  cursor: default;
}

.header__nav {
  display: flex;
  gap: 30px;
}

.header__nav-link {
  font-size: 20px;
  font-weight: 600;
  transition: all ease 200ms;
}

.header__nav-link:hover {
  color: rgb(203, 203, 203);
}

#go-main {
  position: relative;
  padding-right: 23px;
  display: inline-block;
  transition: all 100ms ease-in-out;
}

#go-main::after {
  position: absolute;
  content: "";
  background-image: url(/images/svg/right-arrow.svg);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: inherit;
}

#go-main:hover::after {
  right: -5px;
}
/* =====================HERO====================== */
/* =====================HERO====================== */

.hero__title {
  text-align: center;
  margin-bottom: 5%;
}

.hero__img-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__img {
  max-width: 70%;
  height: auto;
  margin-bottom: 5%;
  border: 2px solid white;
}

.hero__description-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 5%;
}

.hero__description h4 {
  padding: 20px 0;
}

.hero__description li {
  padding: 10px 0;
}

/* =====================ABOUT====================== */
/* =====================ABOUT====================== */
.main__about {
  margin-top: 5%;
}

.main__about-title {
  text-align: center;
  margin-bottom: 2%;
}

.main__about li {
  padding: 1% 0;
  overflow-wrap: anywhere;
  hyphens: auto;
}
/* =====================FOOTER====================== */
/* =====================FOOTER====================== */

.footer__wrap {
  background: #000;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__content-text {
  margin-right: 5%;
}

.footer__content-contacts {
  display: flex;
  gap: 20px;
  align-items: end;
  justify-content: end;
  flex-direction: column;
}

.footer__contact {
  cursor: auto;
  overflow-wrap: anywhere;
  hyphens: auto;
}
/* =====================MEDIA====================== */
/* =====================MEDIA====================== */

@media (max-width: 764px) {
  .header__logo {
    margin: 0;
    margin-right: 30px;
    font-size: 28px;
    font-weight: 600;
    cursor: default;
  }

  .header__nav {
    display: flex;
    gap: 20px;
  }

  .header__nav-link {
    font-size: 16px;
    font-weight: 600;
    transition: all ease 200ms;
  }
}

@media (max-width: 525px) {
  .header__logo {
    margin: 0;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: default;
  }
  .header__nav {
    display: flex;
    gap: 10px;
  }
  .header__nav-link {
    font-size: 12px;
    font-weight: 500;
    transition: all ease 200ms;
  }
  .hero__title {
    text-align: center;
    margin-bottom: 5%;
    font-size: 23px;
    font-weight: 600;
  }
  .hero__description-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5%;
  }
  .hero__description h3 {
    font-size: 16px;
  }
  .hero__description h4 {
    padding: 20px 0;
    font-size: 16px;
  }
  .footer__contact {
    cursor: auto;
    overflow-wrap: anywhere;
    hyphens: auto;
    font-size: 12px;
  }
}
